* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: whitesmoke;
}

body {
  /* border: solid 5px red; */
}
