* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  position: relative;
  background: linear-gradient(#c9ffbf, #ffafbd);
}

body {
  /* border: solid 5px red; */
}
