* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body {
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 350px;
  font-size: 100px;
}
