<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-control" content="no-store, no-cache, must-revalidate">
  <meta http-equiv='Pragma', content='no-cache'>
  <meta http-equiv='Expires', content='-1'>
  <title>Portfolio App</title>
  <link rel="stylesheet" href="../../css/index.css">
  <body>
  {{>navbar2}}  
  Homepage <br>
  Hello {{user.name}}
  {{!-- {{>footer}} --}}
  <script src="https://kit.fontawesome.com/a342ac4253.js" crossorigin="anonymous"></script>
  </body>
</html>