<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    
  </style>
  <script src="https://kit.fontawesome.com/a342ac4253.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
  {{>navbar2}}
  {{!-- Hello {{name}}/ --}}
  {{!-- <button style="width: 100px;height:20px;margin:20px" onclick="getUsersList()">User list</button>
  <button style="width: 100px;height:20px;margin:20px" onclick="getUsersList()"> User details</button>
  <button style="width: 100px;height:20px;margin:20px" onclick="getUsersList()">Edit user</button>
  <button style="width: 100px;height:20px;margin:20px" onclick="getUsersList()">Delete user</button>
  <div class="content"> --}}
  <p>Hello {{user.name}}</p>
  <ul id="demo"></ul>
  <br>
  <p>welcome to my page</p>
  <br>
  <p>You have succesfully wasted your time here</p>
  </div>
  


  {{>footer}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../../scripts/getUser.js"></script>
</body>
</html>