<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://kit.fontawesome.com/a342ac4253.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../css/navbar.css">
</head>
<body>
<ul class="navbar">
  <li class="underline bounce" style="margin-left: 2px;"><a href="/homepage">Home</a></li>
  <li class="underline bounce" ><a href="/about">Contact me</a></li>
  <li class="underline bounce"><a href="/dashboard" class="dashboard">Dashboard</a></li>
  <li class="underline bounce"><a href="/resume" class="resume">My Resume</a></li>
  <li class="links">
    <a href="https://github.com/KnightNoder" target="_blank" rel="noopener"  aria-label="github" class="dropbtn bounce">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/lava-kumar-1a3a7a15/" target="_blank" rel="noopener" class="dropbtn bounce" 
    aria-label="linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
    <a  href="/logout" class="dropbtn logout underline bounce">Logout</a>
  </li>
  {{!-- <li class="logout underline bounce" >
  </li> --}}
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Sign in / Register</a>
    <div class="dropdown-content">
      <a href="/signin" style="text-align: center;" >Sign in</a>
      <a href="/signup" style="text-align: center;">&nbsp;Register</a>
    </div>
  </li>
</ul>
<script>
  const a = {{isLoggedOut}} ? true : false;
  if(a){
    const e1 = document.getElementsByClassName('logout');
    const e2 = document.getElementsByClassName('links');
    const e3 = document.getElementsByClassName('resume');
    const e4 = document.getElementsByClassName('dashboard');
    e1[0].setAttribute('style', 'display:none');
    e2[0].setAttribute('style', 'display:none');
    e3[0].setAttribute('style', 'display:none');
    e4[0].setAttribute('style', 'display:none');
  }

  if(!a) {
    const e3 = document.getElementsByClassName('dropdown');
    e3[0].setAttribute('style', 'display:none');
  }

</script>
</body>
</html>


