<head>
<link rel="stylesheet" href="../../css/navbar.css">
</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/resume">My Resume</a></li>
  <li class="links">
    <a href="https://github.com/KnightNoder" target="_blank" class="dropbtn">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/iamanthe" target="_blank" class="dropbtn">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/lava-kumar-1a3a7a15/" target="_blank" class="dropbtn">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
  <li class="dropdown">
    <a style="font-size: 30px;" href="javascript:void(0)" class="dropbtn">Sign in/Register</a>
    <div class="dropdown-content">
      <a href="/signin" style="text-align:left;font-size: 20px;display:block;width:225px" >Sign in</a>
      <a href="/signup">Register</a>
    </div>
  </li>
</ul>
<script>
</script>
</body>


